/*** Typography****/

body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 1.6rem;
  line-height: 1.8em;
  background-color: #FFF !important; 
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}

h5,
h6 {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4 {
margin:1.4em 0 0.8em;
}

p, pre, ul, ol, dl, form, hr {
    margin:1em 0 0.6em;
}

img {
  margin: 1em auto 1em auto;
  max-width: 100% !important;
}

.alert-info {
  background-color: #DCF2F9 !important;
}

.admonition {
  font-size: 85%;
}

/***  Typography END ***/


.navbar-black {
  background-color: black;
  border-color: transparent;
}
.navbar {
  margin-bottom:0 !important;
}
.navbar-border-r {
  border-right: 1px solid #3F3B3B;
}
.dropdown:hover .dropdown-menu {
    display: block;
 }
.navbar .navbar-nav-black > li > a {
  color: rgba(255, 255, 255, 0.84);
}
.navbar .navbar-nav-black > li > a:hover,
.navbar .navbar-nav-black > li > a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.navbar .navbar-nav-black > .active > a,
.navbar .navbar-nav-black > .active > a:hover,
.navbar .navbar-nav-black > .active > a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar .brand-style:hover,
.navbar .brand-style:focus {
  color: rgba(255, 255, 255, 1);
}

.black-bg {
  background-color: black;
}
.black-bg li a {
  color: white;
}
.black-bg li a:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  background: rgba(255, 255, 255, 0.2) !important;
  color: white;
}


.jumbotron {
  background-color:rgba(255,255,255,0.1) !important; 
}
.splash-container {
  background-color:rgba(255,0,0,0.5);
  height:30em;
  color:white;
  margin-bottom: 0 !important;
}
.splash-container-1 {
  background: url(../../assets/images/Kepler-62f_with_62e_as_Morning_Star.jpg) no-repeat fixed center !important;
  background-size:cover !important;
  height:30em;
  color:white;
  margin-bottom: 0 !important;
}
.splash-container-2 {
  background: url(../../assets/images/360-degree_Panorama_of_the_Southern_Sky.jpg) no-repeat fixed center !important;
  background-size:cover !important;
  height:30em;
  color:white;
  margin-bottom: 0 !important;
}
.splash-container-3 {
  background: url(../../assets/images/1280px-Triple-star_sunset.jpg) no-repeat fixed center !important;
  background-size:cover !important;
  height:30em;
  color:white;
  margin-bottom: 0 !important;
}
.splash-boxed {
/*border: 3px solid #FFF;*/
margin:0 auto;
width: 50%;
border-bottom: 3px solid #FFF;
padding: 1em 1.6em;
font-weight: 100;
border-radius: 5px;
line-height: 1em;
}
.splash-head {
  text-align:center;
}
.splash-container p {
  text-align: center;
  padding-top: 2em;
}
.splash-container-2 p {
  text-align: center;
  padding-top: 2em;
}
.splash-container-3 p {
  text-align: center;
  padding-top: 2em;
}
.strip {
  font-size: 110%;
  background-color: #162932;
}
.input-form-card {
  border-style: solid;
  cursor: text;
  text-align: center;
}
.input-form-card-link {
  cursor: default;
}
.form-control:disabled {
  border-style: solid !important;
}
.input[disabled] {
  cursor: text !important;
}
.form-control[disabled] {
 cursor: text !important; 
}


.footer {
  text-align: center;
  border-top: 1px solid gray;
  padding-top: 1em;
  padding-bottom: 1.5em;
}



.bot-container {
  background:url(../../assets/images/360-degree_Panorama_of_the_Southern_Sky.jpg) !important;
  opacity: 1;
  background-size: cover !important;
  color: white;
}

img {
  max-width: 100% !important;
}



.btn-wrap {
  white-space: normal;
}



.breadcrumb-aside:before {
padding: 0 5px;
color: #CCC;
content: "|" !important;
}

.alert-info,
.alert-danger,
.alert-warning,
.alert-success {
  color: black !important;
}

.alert .alert-link, .alert a {
  color: black !important;
  text-decoration: underline;
}
